{% extends 'base.html.twig' %}

{% block title %}
    Contactez-nous
{% endblock %}

{% block body %}
    <h1 class="text-3xl mt-10 text-center 2xl:focus-within:text-indigo-700 mb-10">Contactez-nous</h1>

    <div class="mx-72">
        {{ form(form) }}
    </div>
{% endblock %}