{% extends 'catalog/addproduct.html.twig' %}

{% block title %}
    Ajouter un produit
{% endblock %}

{% block body %}
    <p>Produit ajouté avec succès !</p>
    <a href="addproduct">< Retourner sur le formulaire</a>
{% endblock %}